<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fix Buddy | Cancel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flash-messages">
      {% for category, message in messages %}
        <p class="{{ category }}">{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}


<div class="payment-box">
    <h2>Service Cancelled</h2>
    <p>Your booking has been cancelled.</p>

    <a href="/services" class="btn">Back to Services</a>
</div>

</body>
</html>
